/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import 'react-toastify/dist/ReactToastify.css';
body {
  background-color: rgb(245, 243, 243)
}

.row>* {
  padding: 0 !important;
}

input, button {
  border-radius: 0 !important;
}

button:focus, button:active, input:focus, input:active {
  outline: none !important;
  box-shadow: none;
}

.btn-check:focus+.btn, .btn:focus, .form-control:focus, .form-select:focus {
  box-shadow: none !important;
}

.form-select {
  border-radius: none !important;
}

#search {
  width: 1000px;
  margin: 0 auto;
}

ul#main-menu {
  text-align: center;
  background: #0d6efd;
  box-shadow: 0px 3px 4px grey;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

li {
  padding: 5px 0;
}

ul#main-menu>li:hover {
  background: #095fde;
}

#main-container {
  padding: 20px;
}

.result {
  margin: 7px;
  width: 420px !important;
  height: 270px;
}

#results {
  overflow: hidden;
  overflow-y: auto;
  height: 590px;
}

ul.result-buttons {
  text-align: center;
  background: #0d6efd;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
}

ul.result-buttons>li:hover {
  background: #095fde;
}

#loading-screen {
  opacity: 0.5;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
}

#loading-screen>div {
  position: relative;
  margin: 20% auto;
  display: block;
  width: 100px;
  height: 100px;
}

.Toastify__toast-container {
  width: 1000px !important;
}

#main-menu>a {
  float: right;
}

.menu-nav-item {
  opacity: 0.3;
}

.active-nav-link {
  opacity: 1 !important;
}

#search-type {
  width: 220px;
}

.existing {
  position: absolute;
  right: 0;
  padding: 0px 2px;
  opacity: 0.9;
}

.no-styled-btn{
  cursor: pointer;
}

.playlist-result{
  background: white;
    margin: 10px 20px 0 0;
    width: 48%;
    box-shadow: 0px 1px 5px grey;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
}

.playlist-result-content{
  display: inline-block;
  vertical-align: top;
  padding: 6px 0 0 8px;
  font-size: 16px;
  max-width: 450px;
  overflow: hidden;
  color: #084298;
  width: 100%;
}

.playlist-result-img{
  cursor: pointer;
}

.playlist-result-img:hover{
  opacity: 0.8;
}

.playlist-results-btn{
  padding: 6px;
  right: 0;
  width: 97.6%;
  margin: 5px;
  border: 0;
  background: white;
  border: 1px solid rgb(211, 210, 210);
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #084298;
}

.playlist-results-btn:hover{
  box-shadow: 0px 0px 2px 0px grey;
}

#results > div.row {
  margin-left: 0;
}

.playlist-result-info{
  width: 92%;
  display: inline-block;
  vertical-align: top;
}

.playlist-result-options{
  display: inline-block;
  width: 55px;
  text-align: center;
  height: 96px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.playlist-result-option{
  height: 50%;
  padding: 10px;
  cursor: pointer;
}

.playlist-result-error{
  background-color: #ff000070;
}

.playlist-result-marked{
background-color: #0d6efd78;
}

.playlist-result-downloaded{
  background-color: #00e41c8f
}
